.advantages {
  width: 100%;
  background-color: $color-default-ghost-white;
  padding: 108px 0 129px 0;

  @include vp-1199 {
    padding: 91px 0 100px 0;
  }

  @include vp-767 {
    padding: 63px 0 70px 0;
  }
}

.advantages h2 {
  font-family: "AlumniSans", "Verdana", sans-serif;
  font-style: normal;
  font-size: 54px;
  line-height: 64.8px;
  color: $color-default-sapphire;
  letter-spacing: 0.03em;
  padding-bottom: 55px;
  margin: 0;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50.4px;
    padding-bottom: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38.4px;
    padding-bottom: 42px;
  }
}

.advantages__container {
  width: 76.14%;
  height: 100%;
  min-height: 307px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 32.7% 34.61% 32.7%;
  grid-template-rows: repeat(2, 1fr);

  @include vp-1199 {
    width: 87.11%;
    min-height: 463px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 24.2% 51.62% 24.2%;
  }

  @include vp-767 {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  flex-wrap: nowrap;

  @include vp-767 {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;
  }
}

.advantages__item--grid-simulators {
  position: relative;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: $color-default-resolution-blue;
  margin: 0 60px 0 60px;

  @include vp-1199 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0 108px 0 108px;
  }

  @include vp-767 {
    margin: 0;
    min-height: 239px;
    margin-bottom: 15px;
  }
}

.advantages__item--grid-area {
  grid-column-start: 1;
  grid-row-start: 1;
  border-bottom: 2px solid rgba($color: $color-default-crimson, $alpha: 0.2);

  @include vp-1199 {
    grid-column-start: 1;
    grid-row-start: 1;
    border-bottom: none;
  }
}

.advantages__item--grid-parking {
  grid-column-start: 3;
  grid-row-start: 1;
  border-bottom: 2px solid rgba($color: $color-default-crimson, $alpha: 0.2);

  @include vp-1199 {
    grid-column-start: 2;
    grid-row-start: 1;
    border-bottom: none;
  }
}

.advantages__item--grid-comfort {
  grid-column-start: 1;
  grid-row-start: 2;
  padding-top: 83px;

  @include vp-1199 {
    grid-column-start: 1;
    grid-row-start: 3;
    padding-top: 50px;
  }

  @include vp-767 {
    padding-top: 0;
  }
}

.advantages__item--grid-experience {
  grid-column-start: 3;
  grid-row-start: 2;
  padding-top: 83px;

  @include vp-1199 {
    grid-column-start: 2;
    grid-row-start: 3;
    padding-top: 50px;
  }

  @include vp-767 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.advantages__numbers {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include vp-767 {
    width: 100%;
  }
}

.advantages__numbers--alignment-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  width: 89%;

  @include vp-1199 {
    width: 47%;
  }

  @include vp-767 {
    width: 66%;
  }
}

.advantages__amount {
  margin-top: -20px;

  @include vp-767 {
    margin: 0 auto;
  }
}

.advantages__amount span {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 71px;
  line-height: 106.5px;
  margin: 0;
  background-color: $color-default-egyptian-blue;
  background-image: $red-to-blue2;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    font-size: 58px;
    line-height: 87px;
  }
}

.advantages__amount--white-color {
  @include vp-767 {
    margin-top: -15px;
  }
}

.advantages__amount--white-color span {
  color: $color-default-white;
  -webkit-text-fill-color: $color-default-white;
}

.advantages__measure {
  position: absolute;
  top: 61px;

  @include vp-1199 {
    top: 50px;
  }

  @include vp-767 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 70px;
  }
}

.advantages__measure span {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  color: $color-default-persian-blue;
}

.advantages__measure--white-color {
  top: 81px;

  @include vp-1199 {
    top: 57px;
  }
}

.advantages__measure--white-color span {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 39px;
  position: initial;
  color: $color-default-white;
  -webkit-text-fill-color: $color-default-white;

  @include vp-1199 {
    font-size: 22px;
    line-height: 33px;
  }

  @include vp-767 {
    margin-top: -10px;
  }
}

.advantages__text {
  color: $color-default-sapphire;
  padding-left: 30px;

  @include vp-767 {
    padding-left: 0;
    width: 100%;
    text-align: center;
    padding-top: 15px;
  }
}

.advantages__text h3 {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 33px;
  margin: 0;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
  }

  @include vp-767 {
    padding-bottom: 15px;
  }
}

.advantages__text p {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 22.4px;
  margin: 0;
  max-width: 227px;

  @include vp-767 {
    margin: 0 auto;
  }
}

.advantages__info--white-color {
  width: 100%;
}

.advantages__info--white-color p {
  font-size: 16px;
  line-height: 24px;
  max-width: none;
  text-align: center;
  padding-top: 50px;
  color: $color-default-white;
  -webkit-text-fill-color: $color-default-white;
  width: 100%;

  @include vp-1199 {
    padding-top: 30px;
  }

  @include vp-767 {
    padding-top: 20px;
  }
}
