.coaches {
    width: 100%;
    padding-bottom: 105px;

    @include vp-1199 {
        padding-bottom: 100px;
    }

    @include vp-767 {
        padding-bottom: 70px;
    }
}

.coaches__container {
    margin: 0 auto;
    width: 93.12%;
    position: relative;

    @include vp-1199 {
        width: 88.28%;;
    }

    @include vp-767 {
        width: 90.625%;
    }
}