.coaches-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba($color: $color-default-sapphire, $alpha: 0.89);
  color: $color-default-white;
  display: none;
}

.coaches-info__title {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  padding-top: 58px;
}

.coaches-info__activity {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: $color-default-spindle;
}

.coaches-info__list {
  position: absolute;
  top: 70%;
  left: 57%;
  transform: translate(-50%, -50%);
  width: 61.15%;
  text-align: left;
  margin: 0;
  padding-inline-start: 0;
}

.coaches-info__item {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

.coaches-info__item:not(:last-child) {
  padding-bottom: 14px;
}
