.contacts {
  width: 50%;
  padding: 56px 0 70px 0;

  @include vp-1199 {
    width: 100%;
    padding: 70px 0 70px 0;
  }
}

.contacts__container {
  width: 59.15%;
  margin-left: 17.57%;

  @include vp-1199 {
    width: 61.46%;
    margin: 0 auto;
  }

  @include vp-767 {
    width: 90.62%;
    margin: 0 auto;
  }
}

.contacts__container h2 {
  font-family: "AlumniSans", "Verdana", sans-serif;
  font-style: normal;
  font-size: 54px;
  line-height: 64.8px;
  color: $color-default-sapphire;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 23px;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50.4px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38.4px;
  }
}

.contacts__container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__container li {
  position: relative;

  @include vp-767 {
    width: 100%;
  }
}

.contacts__container li:not(:last-child) {
  width: 57.92%;

  @include vp-767 {
    width: 100%;
  }
}

.contacts__container li:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 140px;
  border: 1px solid $color-default-slate-grey;
  position: absolute;
  top: 2%;
  right: 0;

  @include vp-767 {
    display: none;
  }
}

.contacts__wrapper {
  padding-bottom: 30px;
}

.contacts__wrapper h3 {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: $color-default-sapphire;
  margin: 0;
  padding-bottom: 15px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__wrapper p {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21.33px;
  color: $color-default-sapphire;
  margin: 0;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27.42px;
  }
}
