.gym-video {
    position: relative;
    width: 31%;
    bottom: 120px;
    margin: 0 auto;
    background-color: $color-default-black;
    cursor: pointer;
    min-height: 228px;

    @include vp-1199 {
        width: 39%;
        bottom: 100px;
        min-height: 167px;
    }

    @include vp-767 {
        width: 100%;
        height: auto;
        bottom: 0;
    }
}

.gym-video__container {
    position: relative;
    overflow: auto;
    height: auto;

    @include vp-767 {
        overflow: auto;
        width: 100%;
        margin: 0 auto;
    }
}

.gym-video__link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;

}

.gym-video__media {
    top: 0;
    width: 100%;
    height: 100%;
    border: none;

    @include vp-767 {
        height: 100%;
        min-height: 167px;
    }
}

.gym-video__media img {
    width: 100%;
}

.gym-video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
    transform: translate(-50%, -50%);
    padding: 0;
    outline: none;
    cursor: pointer;

    @include vp-1199 {
        width: 73px;
        height: 73px;
        transform: translate(-73%, -73%);
    }
}

.gym-video:hover .gym-video__outside,
.gym-video__button:focus .gym-video__outside {
    stroke: $color-default-sapphire;
    stroke-opacity: 1;
}

.gym-video:hover .gym-video__inside,
.gym-video__button:focus .gym-video__inside {
    fill: $color-default-white;
}

.gym-video:hover .gym-video__icon, 
.gym-video__button:focus .gym-video__icon {
    fill: $color-default-sapphire;
}

.gym-video:active .gym-video__outside {
    stroke: $color-default-sapphire;
    stroke-opacity: 1;
    cursor: pointer;
}

.gym-video:active .gym-video__inside {
    fill: $color-default-white;
    r: 29px;
    cursor: pointer;
}

.gym-video:active .gym-video__icon {
    fill: $color-default-sapphire;
    cursor: pointer;
}

.gym-video:disabled .gym-video__outside {
    stroke: $color-default-sapphire;
    stroke-opacity: 0.4;
}

.gym-video:disabled .gym-video__inside {
    fill: $color-default-white;
    opacity: 0.4;
}

.gym-video:disabled .gym-video__icon {
    fill: $color-default-sapphire;
    opacity: 0.4;
}