.gym {
  width: 100%;

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.gym__container {
  width: 85%;
  min-width: 1160px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;

  @include vp-1199 {
    width: 88%;
    min-width: 678px;
    justify-content: baseline;
  }

  @include vp-767 {
    width: 100%;
    min-width: 100%;
  }
}

.gym__wrapper {
  width: 36%;
  padding-left: 60px;
  margin-top: 169px;

  @include vp-1199 {
    width: 88%;
    min-width: 678px;
    margin: 0 auto;
    margin-top: 100px;
    padding-left: 0;
  }

  @include vp-767 {
    width: 91%;
    min-width: 290px;
    margin: 0 auto;
    margin-top: 70px;
  }
}

.gym__title {
  font-family: "AlumniSans", sans-serif;
  font-style: normal;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.03em;
  color: $color-default-sapphire;
  margin: 0;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
    font-size: 32px;
    line-height: 38px;
  }
}

.gym__area {
  font-family: "RobotoCondensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-sapphire;
  margin: 10px 0 30px 0;

  @include vp-1199 {
    text-align: center;
    margin: 0 0 50px 0;
  }

  @include vp-767 {
    text-align: left;
    margin: 20px 0 40px 0;
  }
}

.gym__about {
  font-family: "RobotoCondensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: $color-default-sapphire;
  margin: 0;

  @include vp-1199 {
    text-align: center;
    width: 74%;
    margin: 0 auto;
  }

  @include vp-767 {
    text-align: left;
    width: 96%;
  }
}

.gym__about--first {
  margin-bottom: 5px;

  @include vp-1199 {
    margin-bottom: 50px;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.gym__about--second {
  @include vp-1199 {
    display: none;
  }
}

.gym__foto {
  margin-top: 120px;
  background-color: $color-default-ghost-white;

  @include vp-1199 {
    width: 100%;
    margin: 0 auto;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.gym__foto img {
  @include vp-1199 {
    width: 100%;
  }
}
