.navigation {
  width: 39%;
  margin: 49px 0 49px 0;

  @include vp-1199 {
    width: 62%;
  }

  @include vp-767 {
    width: 93%;
    margin: 0;
    margin-top: 53px;
  }
}

.navigation__container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 30px;
  }
}

.navigation__item--grid1 {
  @include vp-767 {
    grid-column-start: 1;
    grid-row-start: 2;
  }
}

.navigation__item--grid2 {
  @include vp-767 {
    grid-column-start: 1;
    grid-row-start: 3;
  }
}

.navigation__item--grid3 {
  @include vp-767 {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}

.navigation__item--grid4 {
  @include vp-767 {
    grid-column-start: 2;
    grid-row-start: 2;
  }
}

.navigation__item--grid5 {
  @include vp-767 {
    grid-column-start: 2;
    grid-row-start: 3;
  }
}

.navigation__container li:focus {
  outline: 1px solid $color-default-white;
}

.navigation__container li:disabled {
  opacity: 0.4;
}

.navigation__link {
  font-family: "RobotoCondensed", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  text-decoration: none;
  padding: 5px 10px 5px 10px;

  @include vp-767 {
    padding-left: 0;
  }
}

.navigation__link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 7px;
}

.navigation__link:active {
  text-decoration-line: none;
}
