.socials {
    width: 9%;
    margin: 48px 0 41px 0;

    @include vp-1199 {
        width: 15%;
    }

    @include vp-767 {
        width: 37%;
        margin: 40px 0 52px 0;
    }
}

.socials__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.socials__item {
    min-width: 25px;
    background-color: $color-default-white;
    border-radius: 50% 50%;
}

.socials__item:hover {
    background-color: $color-default-egyptian-blue;
}

.socials__link {
    display: block;
    height: 25px;
}

.socials__link:hover,
.socials__link:focus {
    fill: $color-default-white;
}

.socials__link:focus {
    background-color: $color-default-egyptian-blue;
    border-radius: 50% 50%;
    outline: none;
}

.socials__link:active {
    background-color: $color-default-sapphire;
}

.socials__link:disabled {
    opacity: 0.3;
}