.swiper-reviews {
    width: 83.3334%;
    position: relative;

    @include vp-1199 {
        width: 83.481%;
    }

    @include vp-767 {
        width: 77.932%;
    }
}

.swiper-reviews__wrapper {
    width: 100%;
    margin: 0 auto;
}

.swiper-reviews__slide {
    background-color: $color-default-resolution-blue;
    min-height: 242px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include vp-767 {
        display: initial;
        margin: 0 auto;
    }
}

.swiper-reviews__photo {
    margin: 62px 0 0 62px;

    @include vp-1199 {
        margin: 62px 0 0 65px;
    }

    @include vp-767 {
        margin: 0;
        position: absolute;
        top: 14%;
        left: 10%;
    }    
}

.swiper-reviews__information {
    width: 69.64%;
    
    @include vp-767 {
        margin: 0 auto;
        width: 77.88%;
    }
}

.swiper-reviews__name {
    font-family: "RobotoCondensed", Verdana, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: $color-default-white;
    margin: 62px 0 25px 0;

    @include vp-767 {
        width: 30%;
        font-size: 20px;
        line-height: 26px;
        margin: 55px 0 34px 100px;
    } 
}

.swiper-reviews__text {
    font-family: "RobotoCondensed", Verdana, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22.4px;
    color: $color-default-white;
    width: 84.11%;
    margin: 0;

    @include vp-1199 {
        width: 83.217%;
    }

    @include vp-767 {
        text-align: center;
        width: 100%;
        margin-bottom: 40px;
    }
}

.swiper-reviews__button-next {
    right: 0;
}

.swiper-reviews__button-prev {
    left: 0;
}

.swiper-reviews__button-next,
.swiper-reviews__button-prev {
    top: 65%;
    color: $color-default-sapphire;
    --swiper-navigation-size: 32px;
    width: calc(var(--swiper-navigation-size)/32*16);

    @include vp-767 {
        --swiper-navigation-size: 19px;
        width: calc(var(--swiper-navigation-size)/19*10);
    }
}